/*<!-- card style from https://codepen.io/IMarty/pen/zrdYGe-->*/

@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
    background-color: #37474F;
    font-family: "Roboto", sans-serif;
}


/* The card */

.card {
    position: relative;
    height: 550px;
    width: 900px;
    margin: 200px auto;
    background-color: #607D8B;
    -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
}


/* Image on the left side */

.thumbnail {
    float: left;
    position: relative;
    left: 30px;
    height: 50%;
    width: 350px;
    overflow: hidden;
    top: 10%;
}

img.left {
    position: absolute;
    /*left: 50%;
    top: 50%;
    height: auto;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
}

/* Right side of the card */

.right {
    margin-left: 400px;
    margin-right: 20px;
}

h1 {
    padding-top: 15px;
    font-size: 1.3rem;
    text-align: justify;
    color: #4B4B4B;
    height: inherit;
}

.source {
    background-color: #9ECAFF;
    border-radius: 20px;
    text-align: center;
    width: 200px;
    position: absolute;
    left: 3.5%;
    bottom: 2.5%;
}

h2 {
    text-align: center;
    font-size: 0.8rem;
}

.separator {
    margin-top: 10px;
    border: 1px solid #C3C3C3;
}

a {
    text-align: justify;
    color: #0041a7
}

p {
    text-align: justify;
    padding-top: 10px;
    font-size: 0.95rem;
    line-height: 150%;
    color: #000;
    text-overflow: ellipsis;
}


/* DATE of release */

h5 {
    position: absolute;
    left: 3.5%;
    bottom: -55px;
    font-size: 5rem;
    color: #C3C3C3;
}

h6 {
    position: absolute;
    left: 3.5%;
    bottom: -19px;
    font-size: 2rem;
    color: #C3C3C3;
}